<li class="flex bg-gray-50 p-4 rounded-lg shadow-md hover:shadow-lg transition duration-300">
  <% if exercise.image.attached? %>
    <%= link_to exercise_path(exercise) do %>
      <div class="w-24 h-24 mr-4">
        <%= image_tag exercise.image, class: "w-full h-full object-cover rounded-lg" %>
      </div>
    <% end %>
  <% else %>
    <div class="w-24 h-24 bg-gray-300 flex items-center justify-center rounded-lg mr-4">
      <span class="text-gray-500">No Image</span>
    </div>
  <% end %>
  <div class="flex-1">
    <h2 class="text-lg font-bold text-gray-800">
      <%= link_to exercise.name, exercise_path(exercise) %>
    </h2>
  </div>
</li>